description = "Default"

[session]
security = "all"
redirect = "home"

[UserAgreement]

[googleTracker]

[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0

[Questionnaire]
modelClass = "Wwrf\TransitionCenter\Models\Questionnaire"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "jobs/search.htm"
==
{% partial 'site/head' %}

{% page %}

{% partial 'site/footer' %}