description = "Default"

[session]
security = "all"
redirect = "home"

[UserAgreement]

[googleTracker]

[JobTracker]
jobPage = "jobs/post"

[RainLab\User\Components\Account account]
redirect = "default"
paramCode = "code"
forceSecure = 1

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0

[Questionnaire]
modelClass = "Wwrf\TransitionCenter\Models\Questionnaire"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "jobs/search.htm"

[newsSubscribe]

[newsUnsubscribe]

[breadcrumbs]
main-ol-class = "control-breadcrumb"
active-class = "active"
disabled-class = "disabled"

[randomPosts]
postsCount = 3
cacheLifetime = 0
postPage = "jobs/post"
==
<?php
use RainLab\User\Models\User;
use Indikator\News\Models\Subscribers;

function onStart() {
    if($this->account->user()){
        $this['user_email'] = $this->account->user()->email;

        $this['subscriber'] = Subscribers::where('email', '=', $this['user_email'])->first();
    }
}
?>
==
{% partial 'site/head' %}

{% page %}

{% partial 'site/footer' %}