==
<!-- blog-sidebar -->

	{% set categories = blogCategories.categories %}
	{% set currentCategorySlug = blogCategories.currentCategorySlug %}
	<div class="sidebar-module">
	    <h3>Categories</h3>
	    <ul>
	        {% for category in categories %}
	            {% set postCount = category.post_count %}
	            <li><a href="{{ category.url }}" {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
	            {{ category.name }}
	            {% if postCount %}
	                <span class="badge">{{ postCount }}</span>
	            {% endif %}
	            </a>
	            </li>
	            {% if category.children %}
	                
	                    {% partial __SELF__ ~ "::list-items"
	                        categories=category.children
	                        currentCategorySlug=currentCategorySlug
	                    %}
	                
	            {% endif %}
	        {% endfor %}
	    </ul>
	</div>
	
    <div class="sidebar-module">
        <h4>Archives</h4>
		{% set archiveMonths = blogArchiveList.archiveMonths %}

		<ul>
			{% for archiveMonth in archiveMonths %}
			    <li><a href="{{archiveMonth.url}}">{{archiveMonth.month}} <span class="badge">{{ archiveMonth.count }}</span></a></li>
			{% endfor %}
		</ul>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
	        <li><a href="http://www.careerbuilder.com" target="#">CareerBuilder</a></li>
	        <li><a href="http://www.indeed.com"  target="#">Indeed</a></li>
	        <li><a href="http://wichita.craigslist.com"  target="#">Craigslist</a></li>
	        <li><a href="http://www.glassdoor.com"  target="#">Glassdoor</a></li>
	        <li><a href="http://www.snagajob.com"  target="#">Snagajob</a></li>
        </ol>
    </div>

<!-- /.blog-sidebar -->