description = "Default employer page."

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "employer-news"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<!-- Default home page for employers -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Thank you for deciding to partner with us. <br />We're excited for the opportunity to work with you in satisfying your employment needs.</p>
  </div>
</div>
<div class="container">
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Attention:</strong> For scheduling, supervisory changes or inmate extensions, please contact our facility's CONTROL CENTER at: 316-265-5211. Ext. 208
	  <p>For questions, concerns, or for more information on the many benefits of hiring inmate employees through the Wichita Work Release Program, please contact a Security Supervisor on duty 24 hours a day. If you need help using this site, please do not hesistate to <a href="{{'contact'|page}}" alt='Contact Us' class="alert-link">contact us</a>.</a></p>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="{{'guidelines.jpg'|media}}" class="img-responsive" width="100px" alt="Employer Guidelines">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="{{ 'guidelines'|page }}">Employer Guidelines</a></h4>
			    Work locations, scheduling and availability, work vehicles, and other information related to working with our clients. </p>
			  </div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="{{'partners.png'|media}}" class="img-responsive" width="100px" alt="Community Partners">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="{{ 'partners'|page }}">Community Partners</a></h4>
			    Work locations, scheduling and availability, work vehicles, and other information related to working with our clients.
			  </div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="{{'graphics/incentive-program.jpg'|media}}" class="img-responsive" width="100px" alt="Incentive Programs">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="{{ 'incentives'|page }}">Incentive Programs</a></h4>
			    Learn more about the Work Opportunity Tax Credit (WOTC), Federal Bonding Program, and Workforce Investment Fund as additional incentives for working with our participants.
			  </div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		{% partial 'employers/news' %}
  	</div><!-- /.row -->
	
</div>