description = "Footer"
==
<div id="footer">
	
    <div class="container">
    	{% if user %}
    	<div class="row">
    		<div class="col-sm-3">
    			<h3>ABOUT US</h3>
    			<h4>Wichita Work Release Facility is a minimum custody State work release facility, Kansas Department of Corrections facility which manages convicted felons who have been screened for participation in a community based, residential work release program. All of our Participants are considered incarcerated under extended limits of custody. </h4>
    		</div>
    		<div class="col-sm-3 col-sm-offset-2">
    			<h3>CONTACT US</h3>

    				<p class="lead"><i class="icon-li icon-map-marker icon-large"></i>401 S. Emporia<br>Wichita, Kansas 67202</li>
    				<p class="lead"><i class="icon-li icon-phone"></i>(316) 265-5211</p>
    				<p class="lead"><i class="icon-li icon-envelope"></i><a href="mailto:user@wwrfresource.com">user@wwrfresource.com</a></p>

    			{% if user.groups[0].name == 'Employers' or user.groups[0].name == 'Staff' %}


    				<p class="lead"><i class="icon-li icon-facebook-sign"></i><a href="https://www.facebook.com/Wichita-Work-Release-Facility-309022902822289/">Facebook</a></p>

    			{% endif %}
    			<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=OcMajeqv3ZXkNvvEABMoZvETW7Z54BbX5PTbAofbiR9iihW9UWF7DJwysgRi"></script></span>
    		</div>
    		<div class="col-sm-3 col-sm-offset-1">
    			<h3>TRANSITION CENTER</h3>

    				<p class="lead"><i class="icon-li icon-pushpin"></i><a href="{{'blog'|page}}">View Jobs</a></p>
    				<p class="lead"><i class="icon-li icon-group"></i><a href="{{'users'|page}}">View Users</a></p>
    				<p class="lead"><i class="icon-li icon-link"></i>Resources</p>
    				<hr/>
    				<p class="lead"><i class="icon-li icon-gear"></i><a href="{{'account'|page}}">Account Settings</a></li>
    				<p class="lead"><i class="icon-li icon-signout"></i><a href="#" data-request="onLogout">Logout</a></p>

    		</div>
		{% endif %}
    	</div>
        
    </div>
    
</div>