description = "Header"
==
<!-- Nav -->
{% if user.groups.first.name == 'Staff' %}

	<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            {% if user %}
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            {% endif %}
	            <a class="navbar-brand" href="{{ 'home'|page }}">
	            	<p>Transition</p><p>Center</p>
	            	<small>at Wichita Work Release</small>
	            </a>
	        </div>
	        <div class="collapse navbar-collapse navbar-main-collapse">
	        	<ul class="nav navbar-nav navbar-right text-center">
	        		<li class="{% if this.page.id == 'users' %}active{% endif %}"><a href="{{ 'users'|page }}"><i class="icon icon-users icon-2x"></i><br/>View Users</a></li>
				    <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}"><i class="icon icon-pushpin icon-2x"></i><br/>View Jobs </a></li>
				    <li class="{% if this.page.id == 'tempservices' %}active{% endif %}"><a href="{{ 'tempservices'|page }}"><i class="icon icon-building icon-2x"></i><br/>Temp Services</a></li>
				    <li class="{% if this.page.id == 'walk' %}active{% endif %}"><a href="{{ 'walk'|page }}"><i class="icon icon-map-marker icon-2x"></i><br/>Maps</a></li>
				    <li class="{% if this.page.id == 'resources' %}active{% endif %}"><a href="{{ 'resources'|page }}"><i class="icon icon-paper-clip icon-2x"></i><br/>Resources</a></li>
				    <li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}"><i class="icon icon-cogs icon-2x"></i><br/>My Account </a></li>
				    <li><a data-request="onLogout"><i class="icon icon-signout icon-2x"></i><br/>Logout</a></li>
	        	</ul>
			</div>
		</div>
	</nav>

{% elseif user.groups.first.name == 'Users' %}

	<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            {% if user %}
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            {% endif %}
	            <a class="navbar-brand" href="{{ 'home'|page }}">
	            	<p>Transition</p><p>Center</p>
	            	<small>at Wichita Work Release</small>
	            </a>
	        </div>
	        
	        <div class="collapse navbar-collapse navbar-main-collapse">
	        	<ul class="nav navbar-nav navbar-right text-center">
	        		<li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}"><i class="icon icon-pushpin icon-2x"></i><br/>View Jobs</a></li>
	        		<li class="{% if this.page.id == 'tempservices' %}active{% endif %}"><a href="{{ 'tempservices'|page }}"><i class="icon icon-building icon-2x"></i><br/>Temp Services</a></li>
	        		
    		        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="elsewhereMenu"><i class="icon icon-globe icon-2x"></i><br/>Elsewhere <span class="caret"></span></a>
			          <ul class="dropdown-menu" aria-labelledby="elsewhereMenu">
			            <li>
	                    	<a 	href="http://www.careerbuilder.com" target="#">CareerBuilder <i class="icon icon-external-link"></i></a>
	                    </li>
                        <li>
                        	<a 	href="http://www.indeed.com" 
                        		target="#">Indeed <i class="icon icon-external-link"></i></a>
                        </li>
            			<li>
            				<a 	href="https://wichita.craigslist.org/" target="#">Craigslist Wichita <i class="icon icon-external-link"></i></a></li>
            			<li>
            				<a 	href="https://www.glassdoor.com/" 
            					target="#">Glassdoor <i class="icon icon-external-link"></i></a>
            			</li>
            			<li>
            				<a 	href="https://www.snagajob.com/" 
            					target="#">Snag-A-Job <i class="icon icon-external-link"></i></a>
            			</li>
            			<li>
            				<a 	href="https://www.kansasworks.com/" 
            					target="#">KANSASWORKS<i class="icon icon-external-link"></i></a>
            			</li>
            			<li>
            				<a 	href="https://www.workforce-ks.com/" 
            					target="#">Workforce Kansas<i class="icon icon-external-link"></i></a>
            			</li>
			          </ul>
			        </li>
			        
			        <li class="{% if this.page.id == 'walk' %}active{% endif %}"><a href="{{ 'walk'|page }}"><i class="icon icon-map-marker icon-2x"></i><br/>Maps</a></li>
					<li class="{% if this.page.id == 'resources' %}active{% endif %}"><a href="{{ 'resources'|page }}"><i class="icon icon-paper-clip icon-2x"></i><br/>Resources</a></li>
					<li class="{% if this.page.id == 'profile' %}active{% endif %}"><a href="{{ 'profile'|page }}"><i class="icon icon-user icon-2x"></i><br/>Profile</a></li>
					<li><a data-request="onLogout"><i class="icon icon-signout icon-2x"></i><br/>Logout</a></li>
	        	</ul>
	
			</div>

		</div>
	</nav>
	
{% elseif user.groups.first.name == 'Employers' %}

	<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            {% if user %}
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            {% endif %}
	            <a class="navbar-brand" href="{{ 'home'|page }}">
	            	<p>Transition Center</p><p>Online</p>
	            	<small>at the Wichita Work Release Facility</small>
	            </a>
	        </div>
	        <div class="collapse navbar-collapse navbar-main-collapse">
	        	<ul class="nav navbar-nav navbar-right text-center">
	        		<li class="{% if this.page.id == 'users' %}active{% endif %}"><a href="{{ 'users'|page }}"><i class="icon icon-group icon-2x"></i><br/>Users</a></li>
	        		<li class="{% if this.page.id == 'employer/leads' %}active{% endif %}"><a href="{{ 'employer/leads'|page }}"><i class="icon icon-pushpin icon-2x"></i><br/>Jobs</a></li>
	        		<li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}"><i class="icon icon-cogs icon-2x"></i><br/>Settings</a></li>
					<li><a data-request="onLogout"><i class="icon icon-signout icon-2x"></i><br/>Logout</a></li>
	        	</ul>
			</div>
		</div>
	</nav>
	
{% else %}

	<nav id="layout-nav" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            {% if user %}
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            {% endif %}
	            <a class="navbar-brand" href="{{ 'home'|page }}">
	            	<p>Transition</p><p>Center</p>
	            	<small>at Wichita Work Release</small>
	            </a>
	        </div>
	        {% if user %}
	        <div class="collapse navbar-collapse navbar-main-collapse">
	            <ul class="nav navbar-nav navbar-right">
	                {% if user.groups[0].name == 'Employers' %}
	                
		                <li class="{% if this.page.id == 'market' %}active{% endif %}"><a href="{{ 'users'|page }}"><i class="icon icon-search icon-large" aria-hidden="true"></i> Find Employees </a></li>
		                <li class="{% if this.page.id == 'jobs' %}active{% endif %}"><a href="{{ 'employer/leads'|page }}"><i class="icon icon-thumbtack icon-large" aria-hidden="true"></i> My Jobs </a></li>
	                	<li><i class="icon icon-gears icon-large" aria-hidden="true"></i><a href="{{ 'account'|page }}"> Account </a></li>
	                		
	                {% elseif user.groups[0].name == 'Users' %}
	                
		                    <li class="dropdown {% if this.page.id == 'blog' %}active{% endif %}">
		                    	<a 	href="#" 
		                    		class="dropdown-toggle" 
		                    		data-toggle="dropdown" 
		                    		role="button" 
		                    		aria-haspopup="true" 
		                    		aria-expanded="false">
		                    		<i 	class="icon icon-pushpin icon-large" 
		                    			aria-hidden="true"></i> Jobs 
		                    			<span class="caret"></span> 
		                    	</a>
		                    	<ul class="dropdown-menu">
		                    		
		                    	</ul>
		                   	</li>
		                   	<li class="{% if this.page.id == 'resources' %}active{% endif %}"><a href="{{ 'resources/resources'|page }}"><i class="icon icon-folder-open" aria-hidden="true"></i> Resources </a></li>
		                   	<li class="dropdown">
		                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon icon-user icon-large" aria-hidden="true"></i> {{ user.name }} {{ user.surname }} <span class="caret"></span> </a>
		                    	<ul class="dropdown-menu">
				                    <li><a href="{{ 'profile'|page }}"><i class="icon icon-list-alt" aria-hidden="true"></i> View Profile </a></li>
	                                <!--<li><a href="{{ 'mail/signin'|app }}"> <i class="icon icon-envelope" aria-hidden="true"></i> Email</a></li>-->
	                    			<li><a href="#" data-request="onLogout"><i class="icon icon-signout" aria-hidden="true"></i> Logout
	                        			</a></li>
		                    	</ul>
		                   	</li>
						
					{% endif %}
	            </ul>
	        </div>
	        {% endif %}
	    </div>
	</nav>
	
{% endif %}