description = "Landing page partial."

[RainLab\User\Components\Account account]
redirect = "home"
redirect_employer = "home"
paramCode = "code"
forceSecure = 1

[contactForm]
injectBootstrapAssets = 1
injectMainScript = 1
==
{% partial 'login' %}
{% for section in this.theme.landing_page_sections %}
<div class="features-container-1 section-container text-center">
    <div class="container">
	        	
	{% if section.title %}
    	{% set title = section.title|upper|split(' ', 2) %}
        <div class="row">
        	<div class="col-sm-12 features-1 section-description wow fadeIn">
                <h2><strong>{{ attribute(title, 0) }}</strong> {{ attribute(title, 1) }}</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
    {% endif %}
    {% if section.layout == 'two_columns' %}
	    {% for feature in section.features %}
	    
	        <div class="col-sm-6 features-box-1 wow fadeInLeft">
	        	<div class="row">
	        		<div class="col-sm-3 features-box-icon-1">
	        			<i class="icon {{ feature.icon }}"></i>
	        		</div>
	        		<div class="col-sm-9">
	        			<h3>{{ feature.header }}</h3>
	                	<p>
	                		{{ feature.description|raw }}
	                	</p>
	        		</div>
	        	</div>
	        </div>
	
	    {% endfor %}
	{% endif %}
	{% if section.layout == 'grid' %}
		{% for feature in section.features %}
		    <div class="col-sm-4 features-box wow fadeInUp">
	        	<div class="features-box-icon">
	        		<i class="icon {{ feature.icon }}"></i>
	        	</div>
	            <h3>{{ feature.header }}</h3>
	            <p>{{ feature.description|raw }}</p>
	        </div>
	    {% endfor %}
	{% endif %}
	{% if section.layout == 'card' %}
		{% for feature in section.features %}
			<div class="col-sm-6 features-box wow fadeInUp">
		    	<div class="features-box-icon">
		    		<i class="icon {{ feature.icon }}"></i>
		    	</div>
		        <h3>{{ feature.header }}</h3>
		        <p>{{ feature.description|raw }}</p>
		    </div>
	    {% endfor %}
	{% endif %}
	{% if section.title == 'Community Partners' %}
		{% for feature in section.features %}
			{% if feature.header == 'Partner Logos' %}
			<div class="row">
	        	<p>{{ feature.description|raw }}</p>
	        </div>
	        {% endif %}
	        {% if feature.header == 'Comments' %}
		        <blockquote class="blockquote text-center">
	        	  <p class="mb-0"><i class="icon icon-quote-right"></i></p>
				  <p>{{ feature.description|raw }}</p>
				</blockquote>
	        {% endif %}
        {% endfor %}
	{% endif %}
	{% if section.link %}
		<a href="{{ section.link }}"+'|page' class="btn btn-lg btn-primary">Learn more <i class="icon-angle-double-right"></i></a>
	{% endif %}
	</div>
</div>

{% endfor %}

<!-- Contact -->
<div class="contact-container text-center">
    <div class="container">
    	<div class="row">
            <div class="col-sm-12 features contact-description wow fadeIn">
                <h1><strong>CONTACT</strong> US</h1>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 contact-form-box">
            	<div class="confirm-container">
				<!--This will contain the confirmation when the email is successfully sent-->
				</div>
            	<div class="contact-form-top">
            		<div class="contact-form-top-left">
            			<h3>For more information, please fill out the form below to send us a message...</h3>
            		</div>
            		<div class="contact-form-top-right">
            			<i class="icon icon-envelope"></i>
            		</div>
                </div>
                <div class="contact-form-bottom contact-form">
					<form 
						class="flexiContactForm" 
						role="form"
		      			data-request="{{ contactForm }}::onMailSent"
		      			data-request-update="'{{ contactForm }}::confirm': '.alert'">
		
		    			<div class="form-groups">
					        <div class="form-group">
					            <input type="text" class="form-control" value=""  name="name" placeholder="Your name...">
					        </div>
					        <div class="form-group">
					            <input type="text" class="form-control" value="" name="email" placeholder="Email...">
					        </div>
					        <div class="form-group">
					            <input type="text" class="form-control" value="" name="subject" placeholder="Subject...">
					        </div>
					        <div class="form-group">
					            <textarea class="form-control" value="" name="body" placeholder="Message..." cols="30" rows="10"></textarea>
					        </div>
					            {% if contactForm.enableCaptcha %}
					            	<div class="g-recaptcha" data-sitekey="{{ contactForm.siteKey }}"></div>
					        	{% endif %}
					        	<button type="submit" class="btn btn-default btn-lg btn-block">Send <i class="icon-paper-plane"></i></button>
					        </div>
		        
		    			</div>
					</form>
                </div>
            </div>
		</div>

        <div class="row">
        	<div class="col-sm-3 c-form-info-box wow fadeInUp">
        		<div class="c-form-info-box-icon">
        			<i class="icon icon-map-marker"></i>
        		</div>
        		<p>401 S. Emporia<br />Wichita, KS 67202</p>
        	</div>
        	<div class="col-sm-3 c-form-info-box wow fadeInDown">
        		<div class="c-form-info-box-icon">
        			<i class="icon icon-phone"></i>
        		</div>
        		<p>Phone:<br />316 265 5211</p>
        	</div>
        	<div class="col-sm-3 c-form-info-box wow fadeInUp">
        		<div class="c-form-info-box-icon">
        			<i class="icon icon-envelope"></i>
        		</div>
        		<p>Email:<br /><a href="mailto:corey.brock@ks.gov.com">corey.brock@ks.gov</a></p>
        	</div>
        	<div class="col-sm-3 c-form-info-box wow fadeInDown">
        		<div class="c-form-info-box-icon">
        			<i class="icon icon-facebook"></i>
        		</div>
        		<p>Facebook:<br /></p>
        	</div>
        </div>
    </div>
</div>