description = "Login partial for landing page."
==
<section class="masthead text-center text-white d-flex">
	<div class="row">
		<div class="brand">
			<a href="{{ 'home'|page }}">TRANSITION <strong>CENTER</strong><small>at the Wichita Work Release Facility</small></a>
		</div> 
	</div>
	
	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				{% flash %}
					<div class="alert alert-{{ type }}">{{ message }}</div>
				{% endflash %}
	        	<div class="form-top">
					<div class="form-top-left">
						<h3>Login to the Transition Center</h3>
						<p>Enter your email and password below to sign in.
						<p><a href="{{'register'|page}}">Request your free account today!</a></p>
					</div>
					<div class="form-top-right">
						<i class="icon icon-lock"></i>
					</div>
				</div>
	            <div class="form-bottom">
					<form role="form" action="" data-request="onSignin" class="login-form">
						<div class="form-group">
							<label class="sr-only" for="userSigninLogin">{{ loginAttributeLabel }}</label>
							<input type="email" name="login" placeholder="Email address..." class="form-username form-control" id="userSigninLogin" required autofocus>
						</div>
						<div class="form-group">
							<label class="sr-only" for="userSigninPassword">{{ loginAttributeLabel }}</label>
							<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="userSigninPassword" required>
						</div>
						<span class="pull-right small"><p><a href="{{ 'forgot-password'|page }}">Forgot your password?</a></p></span>
						<button type="submit" class="btn">Sign in <i class="icon icon-signin"></i></button>
					</form>
				</div>
	        </div>
        </div>
	</div>
</section>