description = "Default home page for logged in users."

[randomPosts]
postsCount = 3
cacheLifetime = 0
postPage = "blog/post"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "Announcements"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogPost]
slug = "free-tax-prep"
categoryPage = "blog/category"
==
<!-- Default home page for users -->
{% partial 'blog_jumbo' %}
<div class="container">
    <div class="row">
        <div class="random-posts">
		    {% for post in randomPosts.posts() %}
		    <div class="col-sm-4">
		    	<div class="alert alert-info alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <a href="{{ post.url }}"
		                	  role="button"
		                	  {% if user.groups.first.name == 'Users' %}
							   data-request="onViewJob"
							   data-request-data="job_id: {{post.id}}"{%endif%}
							   class="alert-link">{{ post.title }}</a>
					<p class="small">
		                    {% if post.excerpt %} 
		                        {{ str_limit(post.excerpt|raw, '140', '...') }}
		                    {% else %} 
		                        {{ str_limit(html_strip(post.content|raw), '140', '...') }} 
		                    {% endif %}
	                </p>
				</div>
		    </div>
		    {% else %}
		        <p>There are no posts to display.</p>
		    {% endfor %}
		</div>
	</div>
	<div class="row">
        <div class="col-md-12">
        	
        	{% set post = blogPost.post %}
        	
        	<div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>{{post.title}}</strong> <p>{{ post.content_html|raw }}</p>
			</div>

        	{% set posts = blogPosts.posts %}

			<ul class="post-list">
			    {% for post in posts %}
			        <li>
			            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			
			            <p class="info">
			                Posted
			                {% if post.categories.count %} in {% endif %}
			                {% for category in post.categories %}
			                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
			                {% endfor %}
			                on {{ post.published_at|date('M d, Y') }}
			            </p>
			
			            <p class="excerpt">{{ post.summary|raw }}</p>
			        </li>
			        <hr />
			    {% else %}
			        <li class="no-data">{{ noPostsMessage }}</li>
			    {% endfor %}
			</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
            
        </div>
    </div>
</div>