<div class="header pt-3 grey lighten-2">

    <div class="row d-flex justify-content-start">
        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Log in</h3>
    </div>

</div>
<p class="mt-3 mb-4 pb-1 mx-5">Password reset complete, you may now sign in.</p>
<form role="form" action="" data-request-flash data-request="onSignin" class="login-form">
    <!--Body-->
    <div class="md-form">
        <label for="userSigninLogin">Email...</label>
        <input type="email" name="login" id="userSigninLogin" class="form-control" required autofocus>
    </div>

    <div class="md-form pb-3">
        <input type="password" id="userSigninPassword" name="password" class="form-control" required>
        <label for="userSigninPassword">Password...</label>
    </div>

    <div class="text-center mb-4">
        <button type="submit" class="btn special-color btn-block z-depth-1">Log in</button>
    </div>
</form>