title = "Employer Guidelines"
url = "/employers/guidelines"
layout = "default"
is_hidden = 0
==
<div class="half-page-intro" style="background-image: url('{{'assets/images/guidelines_header.jpg'|theme}}');">
    <div class="mask flex-center rgba-blue-grey-light">
    </div>
    <!-- Mask & flexbox options -->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    </div>
    <!-- /Mask & flexbox options -->
</div>
{% if user.groups.first.name == 'Users' %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto alert alert-danger mt-5">
            <i class="fa fa-warning"></i>You are not authorized to view this page.
        </div>
    </div>
</div>
{% else %}
<div class="container free-bird mb-4">
    
    <div class="row">
        <div class="col-10 col-sm-4 mx-auto">
            <div class="white z-depth-1 mb-4 pt-4 px-3">
                    <h3 class="h3-responsive">Contents</h3>
                    <ul class="fa-ul">
                        {% for section in this.theme.guidelines_page_sections %}
                        <li><i class="fa-li fa {{ section.icon|replace({'icon':'fa'}) }}"></i><a href="#{{loop.index}}">{{ section.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="{{this.theme.guidelines_page_file|media}}" class="btn btn-block btn-default">DOWNLOAD GUIDELINES <i class="fa fa-download ml-3"></i></a>
            </div>
            
        </div>
        <div class="col-10 col-sm-7 mx-auto white z-depth-1 pt-4 pl-3">
            <h3 class="h3-responsive">{{this.page.title}}</h3>
            {% for section in this.theme.guidelines_page_sections %}
	    		<h4 class="h4-responsive" id="{{ loop.index }}"><i class="fa {{ section.icon|replace({'icon':'fa'}) }}"></i> {{ section.title }}</h3>
	    		<p>{{ section.description|raw }}</p>
        	{% endfor %}
        </div>
    </div>
</div>
{% endif %}