title = "About Us"
url = "/about"
layout = "main"
is_hidden = 0
==
<!-- About us jumbotron  -->
<div class="jumbotron">
	<div class="container">
		<h1>{{ this.theme.about_page }}</h1>
		<p>{{ this.theme.about_page_description|raw }}</p>
	</div>
	
</div>

{% for section in this.theme.about_page_sections %}
	{% if section.layout == 'quote' %}
	
	    <div class="container">
		{% for feature in section.features %}
	
	        <blockquote class="blockquote text-center">
	    	  <p class="mb-0"><i class="icon icon-quote-right"></i></p>
			  <p>{{ feature.description|raw }}</p>
			</blockquote>
	
		{% endfor %}
		</div>
	
	{% else %}
		<div class="features-container-1 section-container text-center">
		    <div class="container">
			    {% if section.title %}
			    	{% set title = section.title|upper|split(' ', 2) %}
			        <div class="row">
			        	<div class="col-sm-12 features-1 section-description wow fadeIn">
			                <h2><strong>{{ attribute(title, 0) }}</strong> {{ attribute(title, 1) }}</h2>
			                <div class="divider-1 wow fadeInUp"><span></span></div>
			            </div>
			        </div>
		        {% endif %}
			    {% if section.layout == 'two_columns' %}
				    {% for feature in section.features %}
				    
				        <div class="col-sm-6 features-box-1 wow fadeInLeft">
				        	<div class="row">
				        		<div class="col-sm-3 features-box-icon-1">
				        			<i class="icon {{ feature.icon }}"></i>
				        		</div>
				        		<div class="col-sm-9">
				        			<h3>{{ feature.header }}</h3>
				                	<p>
				                		{{ feature.description|raw }}
				                	</p>
				        		</div>
				        	</div>
				        </div>
				
				    {% endfor %}
				{% endif %}
				{% if section.layout == 'grid' %}
					
					{% for feature in section.features %}
					    <div class="col-md-3 features-box wow fadeInUp">
				        	<div class="features-box-icon">
				        		<i class="icon {{ feature.icon }}"></i>
				        	</div>
				            <h3>{{ feature.header }}</h3>
				            <p>{{ feature.description|raw }}</p>
				        </div>
				    {% endfor %}
					
				{% endif %}
				{% if section.layout == 'card' %}
					{% for feature in section.features %}
						<div class="col-sm-6 features-box wow fadeInUp">
					    	<div class="features-box-icon">
					    		<i class="icon {{ feature.icon }}"></i>
					    	</div>
					        <h3>{{ feature.header }}</h3>
					        <p>{{ feature.description|raw }}</p>
					    </div>
				    {% endfor %}
				{% endif %}
				{% if section.layout == 'list' %}
					<ul class="icons-ul lead">
						{% for feature in section.features %}
							<li><i class="icon-li {{ feature.icon }}" style="color: green;"></i>{{ feature.header }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endfor %}