title = "Account"
url = "/account/:code?"
layout = "default"
description = "Sign in, registration and account management."
is_hidden = 0

[RainLab\User\Components\Account account]
redirect = "home"
paramCode = "code"
forceSecure = 1
==
<!-- Main jumbotron for a primary messages -->
{% if user.groups[0].name == 'Employers' or user.groups[0].name == 'Staff' %}
<div class="jumbotron">
  <div class="container">
    <h1>Account Management</h1>
  </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        {% flash %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endflash %}
        <div class="col-md-4 col-md-offset-4">
        {% if user and user.groups[0].name == 'Employers' or user.groups[0].name == 'Staff' %}
            <h2 class="form-signin-heading">{{user.name}} {{user.surname}}</h2>
            {% partial account ~ '::update' %}
        {% elseif not user %}
            <h2 class="form-signin-heading">Please sign in</h2>
            {% partial account ~ '::signin' %}
        </div>
        
        <div class="col-md-12 text-center">
        	<hr/>
            <h2>Are you an employer?</h2>
            
            <p class="lead">Are you interested in partnering with us?
            We would love to work with you.</p>
            <p class="lead">Please click <strong><a href="{{ 'register'|page }}">here</a></strong> to request an account.</p>
        </div>
        {% endif %}
    </div>
</div>