title = "Employer Guidelines"
url = "/guidelines"
layout = "default"
is_hidden = 0
==
{% if user.groups[0].name == 'Employers' or user.groups[0].name == 'Staff' %}

<!-- Contact Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ this.theme.guidelines_page_title }}</h1>
    <p>{{ this.theme.guidelines_page_description|raw }}</p>
  </div>
</div>
<div class="container">
    <div class="row">
    	<div class="col-md-3">
    		<ul>
    		{% for section in this.theme.guidelines_page_sections %}
    			<li><a href="#{{loop.index}}">{{ section.title }}</a></li>
    		{% endfor %}
    		</ul>
    	</div>
    	<div class="col-md-9">
    		{% for section in this.theme.guidelines_page_sections %}
	    		<h3 id="{{ loop.index }}"><i class="icon {{ section.icon }}"></i> {{ section.title }}</h3>
	    		<p>{{ section.description|raw }}</p>
        	{% endfor %}
    	</div>
   	</div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div>
{% endif %}