title = "User Profile"
url = "/profile/:id?"
layout = "default"
is_hidden = 0

[ueuser]
type = "profile"
maxItems = 5
paramCode = "{{ :id }}"
profilePage = "user/profile"
template = "custom"

[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0
==
<?php
use October\Rain\Auth\Models\User;



function onInit(){



}
?>
==
{% if user.groups[0].name == 'Employers' %}


	{% if ueuser.user %}
	
		<div class="container">
			<div class="jumbotron">
				<div class="container">
				<h2><span class="icon-stack">
				  <i class="icon-circle icon-stack-base"></i>
				  <i class="icon-user icon-light"></i>
				</span>{{ ueuser.user.name }} {{ ueuser.user.surname }}</h2>
	
	           <h3>{{ ueuser.user.profile_headline }}</h3>
	
	            <p class="lead"><i class="icon icon-envelope" aria-hidden="true"></i><a href="mailto:{{ ueuser.user.email }}">  {{ ueuser.user.email }}</a> 
	
	            <br />
	
	            <i class="icon icon-phone" aria-hidden="true"></i>{% if ueuser.user.profile_phone %}
	
	             {{ ueuser.user.profile_phone }}{%else%}Message: (316) 265-5211x208{% endif %}
				</p>
				<p class="small">Last online {{ ueuser.user.last_seen|relative }}</p>
				</div>
			</div>
	
	    <div class="row">
	
	    	<div class="col-md-8">
	
	           {{ ueuser.user.profile_summary|raw }}
	           
	           {% if ueuser.user.jobs.count > 0 %}
	           
	           <hr />
	
	            <div class="panel panel-primary">
	
	                <div class="panel-heading">Most Recent Employer <i class="fa fa-link fa-1x"></i></div>
	
	                <div class="panel-body">
	
	                    <p>Company Name</p>
	
	                    <h4> {{ ueuser.user.jobs.last.company.name }} </h4>
	
	                    <p>Job Title</p>
	
	                    <h4> {{ ueuser.user.jobs.last.title }} </h4>
	
	                    <p>Phone</p>
	
	                    <h4> {{ ueuser.user.jobs.last.company.phone }} </h4>
	
	                </div>
	
	            </div>
	
	            {% endif %}
	            
	            <hr />
	           
	           <span class="text-center"><p class="small">Profile updated on <span class="badge">{{ueuser.user.updated_at|date('M d, Y')}}</span></p></span>
	
	        </div><!--/col-8-->
	
	        <div class="col-md-4" style="margin-top:1.5em;"><!--left col-->
	
	            {% if user.groups[0].name == 'Employers' or user.groups[0].name == 'Staff' %}
	
                    <a href="{{ ueuser.userAvatar.path  }}" class="btn btn-primary btn-block">Download resume <i class="icon icon-download-alt"></i></a>
                    
                    <a href="https://kdocrepository.doc.ks.gov/kasper/search/detail?kdocNumber={{ ueuser.user.kdoc_number }}" target="#">View on Kasper <i class="icon icon-external-link"></i></a>

                {% elseif user.avatar %}

                    <a href="{{ user.avatar.path }}" class="btn btn-primary btn-block">Download resume <i class="icon icon-download-alt"></i></a>

                {% endif %}

	        </div><!--/col-4-->
	
	
	
	    </div><!--/row-->
	
	</div>
	
	<!-- If the user doesn't exist, this will show. -->
	
	{% else %}
	
		<div class="jumbotron">
		    <div class="container">
		        <h1>Sorry</h1>
		        <p>It appears this profile does not exist.</p>
		    </div>
		</div>
	
	{% endif %}

{% elseif user.groups[0].name == 'Staff' or user.id == ueuser.user.id %}

	{% partial 'users/viewed_jobs' %}

{% else %}

	<div class="jumbotron">
	    <div class="container">
	        <h1>Error</h1>
	        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
	    </div>
	</div>

{% endif %}