title = "Questionnaire"
url = "/questionnaire"
layout = "default"
is_hidden = 0

[Questionnaire]

[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0
==
{% if user.groups[0].name == "Users" %}
{% if user.profileQuestionnaire.created_at == user.profileQuestionnaire.updated_at %}
<div class="container">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="jumbotron">
			  <div class="container">
			    <h1>User Survey</h1>
			    <p class="lead">Please fill out the following information accurately and completely. When you are finished, click the green 'Submit' button.</p>
			  </div>
			</div>
			<div class="confirm-container bg-success hide">
				    <p>Successfully created a new entry!</p>
			</div>
		  <form role="form"
		    data-request="{{ Questionnaire }}::onSave"
		    data-request-success="$el.hide();$('.confirm-container').removeClass('hide');" data-request-redirect="{{ 'home'|page }}">
		    {{ form.formRender()|raw }}
		    <div class="form-group">
		      <button class="btn btn-success btn-block btn-lg" type="submit" value="register">Submit</button>
		    </div>
		  </form>
		</div>
</div>
{% else %}
<div class="container">
<h1>Survey Complete</h1>
<p class="lead">You have already completed our survey. Please visit the <strong><a href="{{ 'blog'|page }}">jobs page</a></strong> to view current job leads.</p>
</div>
{% endif %}
{% else %}
<div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div>
<div class="container">
	<p class="lead">This page is intended for job seekers only. You may browse profiles, search for employees and download resumes on the <a href="{{'users'|page}}">user's page.</a></p>
</div>
{% endif %}