title = "Resources"
url = "/resources/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Wwrf\TransitionCenter\Models\Item"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "resource"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 10
pageNumber = "{{ :page }}"
sortColumn = "category_id"
sortDirection = "asc"
==
{% if user.groups.first.name == 'Users' or user.groups.first.name == 'Staff' %}

{% set records = builderList.records %}

{% set displayColumn = builderList.displayColumn %}

{% set noRecordsMessage = builderList.noRecordsMessage %}

{% set detailsPage = builderList.detailsPage %}

{% set detailsKeyColumn = builderList.detailsKeyColumn %}

{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="jumbotron">

	<div class="container">

	    <h1>COMMUNITY RESOURCES</h1>

	    <h2>Wichita Area housing and apartment resources</h2>

	</div>

</div>

<div class="container">



	<div class="row">

		{% for record in records %}

		  <div class="col-sm-6 col-md-4">

		    <div class="thumbnail">
			{% if record.images %}
		      <img src="{{ record.images.first.path }}" alt="{{record.title}}">
			{% endif %}
		      <div class="caption">

		        <h3>{{ record.title }}</h3>

		        <p>{{ record.address }}</p>
		        
		        <p>{{ record.phone }}</p>
		        
		        <p>{{ record.description|raw }}</p>

		        <p>		            

		        {% spaceless %}

	                {% if detailsPage %}

	                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-info">Read more</a>

	                {% endif %}

		        {% endspaceless %}

		        </p>

		      </div>

		    </div>

		  </div>

		{% else %}

		    No records.

		{% endfor %}

	</div>

	<div class="row text-center">

	{% if records.lastPage > 1 %}

	    <ul class="pagination">

	        {% if records.currentPage > 1 %}

	            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>

	        {% endif %}

	

	        {% for page in 1..records.lastPage %}

	            <li class="{{ records.currentPage == page ? 'active' : null }}">

	                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>

	            </li>

	        {% endfor %}

	

	        {% if records.lastPage > records.currentPage %}

	            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>

	        {% endif %}

	    </ul>

	{% endif %}

	</div>

</div>





{% endif %}