<div class="col-12 col-sm-12 card-deck mx-auto">
    <!--Card-->
<div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><i class="fa fa-bookmark mr-3"></i> Employer Guidelines</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Work locations, scheduling and availability, work vehicles, and other information related to working with our clients.</p>
        </div>
        <!--/.Card content-->
        <!-- Card footer -->
        <div class="text-center">
            <a href="{{'employers/guidelines'|page}}" class="btn btn-block mdb-color lighten-3">Learn more</a>
        </div>
        <!-- Card footer -->
    </div>
    <!--/.Card-->
    <!--Card-->
<div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><i class="fa fa-universal-access mr-3"></i> Community Partners</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Learn more about the Work Opportunity Tax Credit (WOTC), Federal Bonding Program, and Workforce Investment Fund as additional incentives for working with our participants.</p>
        </div>
        <!--/.Card content-->
        <!-- Card footer -->
        <div class="text-center">
            <a href="{{'partners'|page}}" class="btn btn-block mdb-color lighten-3">Learn more</a>
        </div>
        <!-- Card footer -->
    </div>
    <!--/.Card-->
    <!--Card-->
<div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><i class="fa fa-lightbulb-o mr-3 "></i> Incentive Programs</h4>
            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Learn more about the Work Opportunity Tax Credit (WOTC), Federal Bonding Program, and Workforce Investment Fund as additional incentives for working with our participants.</p>
        </div>
        <!--/.Card content-->
        <!-- Card footer -->
        <div class="text-center">
            <a href="{{'incentives/default'|page}}" class="btn btn-block mdb-color lighten-3">Learn more</a>
        </div>
        <!-- Card footer -->
    </div>
    <!--/.Card-->
</div>