<!-- Section: Employer Features -->
<section class="my-5 pt-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Welcome</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">Thank you for deciding to partner with our facility. We look forward to making your business and our community a better place through our partnership. If this is your first time working with our facility, please read information below about our facility guidelines, incentive programs, and partners.</p>
    
    <!-- Grid row -->
    <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
    
        <!-- Grid row -->
        <div class="row">
    
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
            <i class="fa fa-bookmark blue-text fa-2x"></i>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Employer Guidelines</h4>
            <p class="grey-text">Work locations, scheduling and availability, work vehicles, and other information related to working with our clients.</p>
            <a href="{{'employers/guidelines'|page}}" class="btn btn-primary btn-sm">Learn more</a>
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
    
        <!-- Grid row -->
        <div class="row">
    
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
            <i class="fa fa-universal-access pink-text fa-2x"></i>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Community Partners</h4>
            <p class="grey-text">We are heavily invested in workforce development and Kansas Works programs.</p>
            <a href="{{'partners'|page}}" class="btn btn-pink btn-sm">Learn more</a>
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4">
    
            <!-- Grid row -->
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-lg-2 col-md-3 col-2">
                <i class="fa fa-lightbulb-o purple-text fa-2x"></i>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-lg-10 col-md-9 col-10">
                <h4 class="font-weight-bold">Incentive Programs</h4>
                <p class="grey-text">Learn more about the Work Opportunity Tax Credit (WOTC), Federal Bonding Program, and Workforce Investment Fund as additional incentives for working with our participants.</p>
                <a class="btn btn-purple btn-sm">Learn more</a>
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
    
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
        
</section>
<!-- Section: Employer Features -->