<div class="col-lg-4 white z-depth-1 mx-2">
    <!--Grid row-->
    <div class="row">
        <div class="col-2">
            <i class="fa fa-comments-o fa-2x mb-1 blue-grey-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
            <h4 class="feature-title">Employer Guidelines</h4>
            <p class="grey-text">Work locations, scheduling and availability, work vehicles, and other information related to working with our clients.</p>
            <a href="{{'employers/guidelines'|page}}" class="btn unique-color waves-effect waves-light">Learn more</a>
        </div>
    </div>
    <!--/Grid row-->
</div>

<div class="col-lg-4 white z-depth-1 mx-2">
    <!--Grid row-->
    <div class="row">
        <div class="col-2">
            <i class="fa fa-comments-o fa-2x mb-1 blue-grey-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
                <h4 class="feature-title">Community Partners</h4>
                <p class="grey-text">We are actively working with state and local agencies to make our community a better place.</p>
                <a href="{{'partners'|page}}" class="btn unique-color waves-effect waves-light">Learn more</a>
        </div>
    </div>
    <!--/Grid row-->
</div>

<div class="col-lg-4 white z-depth-1 mx-2">
    <!--Grid row-->
    <div class="row">
        <div class="col-2">
        <i class="fa fa-comments-o fa-2x mb-1 blue-grey-text" aria-hidden="true"></i>
        </div>
        <div class="col-10 mb-2">
            <h4 class="feature-title">Incentive Programs</h4>
            <p class="grey-text">Learn more about the Work Opportunity Tax Credit (WOTC), Federal Bonding Program, and Workforce Investment Fund as additional incentives for working with our participants</p>
            <a href="{{'incentives/default'|page}}" class="btn unique-color waves-effect waves-light">Learn more</a>
        </div>
    </div>
    <!--/Grid row-->
</div>