==

    <h4>Search</h4>
    <!-- Search form -->

    <form class="form-inline d-flex" data-request="ueuser::onSearch" method="GET">
        <input class="form-control" type="text" placeholder="Enter job title, skill, or other criteria here..." aria-label="Search" name="phrase">
    </form>


{{ form_ajax('onFilterUsers', { update: { 'participants/list': '#userFilterResults' } }) }}
<div id="UsersFilter">
    <h4>Industries</h4>
    {% for industry in industries %}
    
        <input type="checkbox" name="Filter[industries][]" value="{{ industry.id }}" id="Filter[industries][]"/>
        <label for="Filter[Industries][]">{{ industry.name }}</label>
    
    {% endfor %}
</div>
<div>
    <label>Page</label>
    <select name="Filter[page]">
        {% for i in 1..pages %}
            <option value="{{i}}">{{ i }}</option>
        {% endfor %}
    </select>
</div>
{{ form_close() }}