
<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="flexiContactForm" 
      role="form" 
      data-request="{{ __SELF__ }}::onMailSent" 
      data-request-update="'{{ __SELF__ }}::confirm': '.confirm-container'">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form">
                    <input type="text" name="name" class="form-control">
                    <label for="name" class="">Your name</label>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form">
                    <input type="email" name="email" class="form-control">
                    <label for="email" class="">Your email</label>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12">
                <div class="md-form">
                    <input type="text" id="subject" name="subject" class="form-control">
                    <label for="subject" class="">Subject</label>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

                <div class="md-form">
                    <textarea type="text" name="body" class="form-control md-textarea" rows="3"></textarea>
                    <label for="body">Your message</label>
                    <button type="submit" class="btn-floating btn-lg unique-color z-depth-1 hoverable">
                        <i class="fa fa-send-o"></i>
                    </button>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        {% if __SELF__.enableCaptcha %}
        <div class="row">
            
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ __SELF__.siteKey }}"></div>
            </div>
            
        </div>
        {% endif %}
    </form>