description = "Footer"
==
<!--Footer-->
<footer class="page-footer font-small blue-grey lighten-5 pt-0">

        <div class="blue-grey">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">
    
                    <!--Grid column-->
                    <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text text-center text-md-left">
                            <strong>Stay connected to us on Facebook!</strong>
                        </h6>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-12 col-md-7 text-center text-md-right">
                        <!--Facebook-->
                        <a href="https://www.facebook.com/Wichita-Work-Release-Facility-309022902822289/" target="_blank" class="fb-ic ml-0">
                            <i class="fa fa-facebook white-text mr-lg-4"> </i>
                        </a>
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
            </div>
        </div>
    
        <!--Footer Links-->
        <div class="container gray mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">
    
                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Wichita Work Release</strong>
                    </h6>
                    <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Wichita Work Release Facility is a minimum custody State work release facility, Kansas Department of Corrections facility which manages convicted felons who have been screened for participation in a community based, residential work release program.</p>
                    <p>All of our Participants are considered incarcerated under extended limits of custody.</p>
                    <a href="{{'about'|page}}" class="btn unique-color btn-md waves-effect waves-light">Read more
                        <i class="fa fa-clone ml-1"></i>
                    </a>
                </div>
                <!--/.First column-->
    
                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Employers</strong>
                    </h6>
                    <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="{{'employers/news'|page}}" class="dark-grey-text">News & Announcements</a>
                    </p>
                    <p>
                        <a href="{{'incentives/default'|page}}" class="dark-grey-text">Incentive programs</a>
                    </p>
                    <p>
                        <a href="{{'employers/guidelines'|page}}" class="dark-grey-text">Guidelines</a>
                    </p>
                </div>
                <!--/.Second column-->
    
                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Elsewhere</strong>
                    </h6>
                    <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://www.facebook.com/Wichita-Work-Release-Facility-309022902822289/" target="_blank" class="dark-grey-text">Facebook</a>
                    </p>
                    <p>
                        <a href="http://doc.ks.gov" target="_blank" class="dark-grey-text">Kansas Department of Corrections</a>
                    </p>
                    <p>
                        <a href="http://www.workforce-ks.com" target="_blank" class="dark-grey-text">Workforce Centers</a>
                    </p>
                    <p>
                        <a href="http://www.kansasworks.com" target="_blank" class="dark-grey-text">Kansasworks</a>
                    </p>
                </div>
                <!--/.Third column-->
    
                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-map-marker mr-3"></i> 401 S. Emporia</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> <a href="mailto:corey.brock@ks.gov" class="dark-grey-text" >corey.brock@ks.gov</a></p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> (316) 265-5211</p>
                </div>
                <!--/.Fourth column-->
    
            </div>
        </div>
        <!--/.Footer Links-->
    
        <!-- Copyright-->
        <div class="footer-copyright py-3 text-center">
            <p>Website built on <a href="http://www.octobercms.com" alt="OctoberCMS" target="_blank">OctoberCMS</a>, framework by <a href="http://www.mdbootstrap.com" alt="MDBootstrap" target="_blank">Material Design Bootstrap</a>. Stockart from <a href="http://www.unsplash.com" alt="Unsplash" target="_blank">Unsplash</a>.</p>
            Copyright © 2018
            <a href="https://doc.ks.gov/">
                <strong> Kansas Department of Corrections</strong>
            </a>
        </div>
        <!--/.Copyright -->
    
    </footer>

    <!--/.Footer-->
    <script src="{{ [
        'assets/js/jquery-3.2.1.min.js',
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/mdb.min.js',
        'assets/js/app.js',
        'assets/js/modal.js'
    ]|theme }}"></script>

    <script>

        (function($){
            $('#UsersFilter').on('change', 'input', function(){
                var $form = $(this).closest('form');
                $form.request();
            });

            $('#paginateResults').on('change', 'select', function(){
                $("html, body").animate({scrollTop: 0}, "fast");
                var $form = $(this).closest('form');
                $form.request();
            });

            //$('#userSearch').on('keyup', 'input', function(){
            //    var $form = $(this).closest('form');
            //    $form.request();
            //});

            //Pagination part
            $('#paginateResults').on('click', '.pagination > li > a', function (event) {
                var page = $(this).text();
                event.preventDefault();
                if ($(this).attr('href') != '#') {
                    $("html, body").animate({scrollTop: 0}, "fast");
                    $.request('onFilterUsers', {
                        data: {page: page},
                        update: {'participants/list': '#partialUsers'}
                    });
                }
            });

        })(jQuery);

    </script>
    
    {% framework extras %}
    {% scripts %}

    {% if user.groups.first.name == 'Users' %}
    
        {% if user.user_agreement == null %}

        {% partial 'users/agreement' %}

        {% endif %}

        {% if user.questionnaire.created_at == user.questionnaire.updated_at %}
        
        {% partial 'users/questionnaire' %}

        {% endif %}

    {% endif %}
</body>
</html>