description = "Contains all blog posts related to employer news."

[blogPosts employerNews]
pageNumber = "{{ :page }}"
categoryFilter = "employer-news"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="col-md-8 blog-main">
	<h3 class="pb-3 mb-4 font-italic border-bottom">
	Work Release News
	</h3>
	{% set posts = employerNews.posts %}
	
	
	    {% for post in posts %}
	    	<div class="blog-post">
	            <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	            <p class="blog-post-meta info">Posted
				                {% if post.categories.count %} in {% endif %}
				                {% for category in post.categories %}
				                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
				                {% endfor %}
				                on {{ post.published_at|date('M d, Y') }}</p>
	
	            <p class="excerpt">{{ post.summary|raw }}</p>
	          </div><!-- /.blog-post -->
	    {% else %}
	        <li class="no-data">{{ noPostsMessage }}</li>
	    {% endfor %}
	
	
	  {% if posts.lastPage > 1 %}
	    <ul class="pagination">
	        {% if posts.currentPage > 1 %}
	            <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" class="btn btn-outline-primary">&larr; Older</a>
	        {% endif %}
	
	        {% if posts.lastPage > posts.currentPage %}
	            <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" class="btn btn-outline-primary">Newer &rarr;</a>
	        {% endif %}
	    </ul>
	{% endif %}

</div><!-- /.blog-main -->

<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Quicklinks</h4>
    <ol class="list-unstyled">
      <li><a href="#">Work Opportunity Tax Credit</a></li>
      <li><a href="#">Federal Bonding Program</a></li>
      <li><a href="#">Workforce Innovation Fund</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Workforce Centers</a></li>
      <li><a href="#">Kansas Department of Corrections</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->