title = "Post New Employer Job"
url = "/jobs/new/:slug?"
layout = "restricted"
is_hidden = 0
child_of = "jobs/jobs"
hide_crumb = 0
crumb_title = "New Job"
remove_crumb_trail = 0
crumb_disabled = 0

[PostForm]
use_authors = 0
restrict_owner = 1
category[] = 8
category[] = 9
category[] = 10
category[] = 11
category[] = 12
category[] = 13
category[] = 14
category[] = 15
category[] = 17
category[] = 18
category[] = 19
category[] = 22
category[] = 23
backUser = 1
allowpublish = 1
non_std_fields = "address,phone"
allow_images = 1
slug = "{{ :slug }}"
listPage = "jobs/jobs"
postPage = "jobs/post"
==
{% if user.groups.first.name == 'Employers' %}
    <!-- New employer job post page -->
    <div class="container">

        <!-- Partial: Jobs toolbar-->
        <section class="pt-3 mt-5 pb-3">
            {% component 'breadcrumbs' %}
        </section>
        <!-- /Partial: Jobs toolbar -->

        <!-- Section: Jobs list -->
        <section class="section pt-4">

                <!-- START postform-default.htm -->
                {% if PostForm.backUser %}

                    {{ form_open({ 'data-request': 'onSave','data-request-validate':'','data-request-flash':''}) }}
                        <div class="alert alert-danger" data-validate-error>
                            <p data-message></p>
                        </div>
                        <!-- Grid row -->
                        <div class="row">
                            <div class="col-lg-7 mx-auto white z-depth-1">

                                <input type="hidden" id="Form-field-blog-id" name="id" value="{{ PostForm.post.id }}"></input>

                                <div id="ajaxResponse">
                                </div>

                                <div class="form-group">

                                    <label for="Form-field-blog-title">{{ PostForm.blogtrans('post.title') }}</label>
                                    <input type="text" name="title" id="Form-field-blog-title" value="{{ PostForm.post.title }}" placeholder="{{ PostForm.blogtrans('post.title_placeholder') }}" class="form-control" maxlength="255">
                                    
                                </div>

                                <div class="row form-group">
                                    <div class="col-6">
                                        <label for="address">Address</label>
                                        <input type="text" name="address" id="address" value="{{ PostForm.post.address }}" placeholder="" class="form-control" maxlength="255">
                                    </div>
                                    <div class="col-6">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone" value="{{ PostForm.post.phone }}" placeholder="(316) 555-1212" class="form-control" maxlength="255">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Form-field-blog-content">{{ PostForm.blogtrans('post.content') }}</label>
                                    <textarea name="content" id="Form-field-blog-content" class="form-control ckeditor">{{ PostForm.post.content }}</textarea>
                                </div>

                                <div class="form-group">
                                    <span class="pull-left">
                                        <a href="{{ PostForm.listPage }}"
                                            class="btn btn-danger" ><i class="icon icon-chevron-left"></i>
                                            {{ PostForm.trans('general.btn_cancel') }} 
                                        </a>
                                    </span>
                                    <span class="pull-right">
                                    <input type="hidden" id="Form-field-blog-published" name="published" value="1" {% if not PostForm.allowpublish %} disabled {% endif %} checked="checked">
                                    <!--<label for="Form-field-blog-published">{{ PostForm.blogtrans('post.published') }}</label>-->
                                    
                                    <button type="submit"
                                            id="btnSubmit"
                                            data-hotkey="ctrl+s, cmd+s" 
                                            data-load-indicator="{{ PostForm.trans('kurtjensen.mycalendar::lang.general.saving') }}" 
                                            class="btn btn-success">{{ PostForm.trans('general.btn_save') }} <i class="icon icon-save"></i>
                                    </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3 mx-auto white z-depth-1">
                                <div class="form-group">
                                    <h3>{{ PostForm.trans('general.categories') }}</h3>
                                    {% for cat in PostForm.categories %}
                                        <input type="checkbox" id="Form-field-blog-cat-{{ cat.name }}" name="category[]" value="{{ cat.id }}"
                                            {% if cat.id in PostForm.postCategoryIds %}checked="checked"{% endif %}>
                                        <label for="Form-field-blog-cat-{{ cat.name }}">{{ cat.name }}</label><br />
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {{ form_close() }}

                    <script type="text/javascript">
                        CKEDITOR.replace( 'content' );
                    </script>

                    <script>
                    $(document).ready(function () {

                            $("#btnSubmit").click(function (e) {

                                //disable the submit button
                                $("#btnSubmit").attr("disabled", true);

                                return true;

                            });
                        });
                    </script>

                {% else %}
                    <p class="alert alert-warning">{{ PostForm.trans('general.unauthorized') }}</p>
                {% endif %}
                <!-- End postform-default.htm -->
            
        </section>
    </div>
    <!-- /New employer job post post -->
{% else %}
    <div class="jumbotron">
        <div class="container">
            <h1>Error</h1>
            <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
        </div>
    </div>
{% endif %}