description = "Main layout for landing page."

[session]
security = "all"
redirect = "home"

[UserAgreement]

[googleTracker]

[Questionnaire]
modelClass = "VojtaSvoboda\UserAccessLog\Models\AccessLog"

[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0

[contactForm]
injectBootstrapAssets = 1
injectMainScript = 1
==
<!DOCTYPE html>
<html>
    <head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102153755-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-102153755-1');
		</script>

    	<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KC5K5PH');</script>
		<!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <title>Transition Center Online - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="WWRF">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/less/theme.less'
        ]|theme }}" rel="stylesheet">
        <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBb5AkQHSFXfIqxr2BoxQt5zQmcMqd3HmE"></script>
      <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/58972d559260fa1f2c7b8cd12/9750bd67ea90705f7e734234a.js");</script>
    </head>
    <body>
    	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC5K5PH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
    	<!-- Header -->
		{% if user or this.page.title == 'Register' or this.page.title == 'Reset Password' or this.page.title == 'About Us' %}
	        <header id="layout-header">
	           {% partial "header" %}
	        </header>
		{% endif %}

        <!-- Content -->
        <section {% if user or this.page.title == 'Register' or this.page.title == 'Reset Password' or this.page.title == 'About Us' or this.page.title == 'Contact' %}id="layout-content"{% endif %}>

            {% page %}

            {% component 'googleTracker' %}

        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>
        
        {% if user.groups[0].name ==  'Users' %}
        
		<!-- User Agreement Modal -->
		<div class="modal fade" id="userAgreement" role="dialog">
		  <div class="modal-dialog modal-lg">
		  
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-body">
		        {% content 'user_agreement' %}
		        {{ user.name }} {{ user.surname }} <span class="pull-right">{{ today|date('M d, Y') }}</span>
		      </div>
		      <div class="modal-footer">
		        <button type="button" 
		        		class="btn btn-primary btn-block" 
		        		data-request="onUserAgreement" 
		        		id="acceptAgreement"
		        		>Accept</button>
		      </div>
		    </div>
		    
		  </div>
		</div>
		
		<!-- Questionnaire Modal -->
		<div class="modal fade" id="questionnaire" role="dialog">
		    <div class="modal-dialog">
		        <!--Content-->
		        <div class="modal-content">
		            <!--Header-->
		            <div class="modal-header">
		                <h4 class="modal-title">Program Participant Survey</h4>
		            </div>
		            <!--Body-->
		            <div class="modal-body">

					  <form role="form"
					    data-request="{{Questionnaire}}::onSave"
					    data-request-flash>
					  	
					    {{ form.formRender()|raw }}

					  <button class="btn btn-success btn-block btn-lg" 
					  		  type="submit" 
					  		  value="Submit"
					  		  id="submitQuestionnaire">Submit</button>

					  </form>

				      </form>
      				</div>
		        </div>
		        <!--/.Content-->
		    </div>
		</div>
		<!-- /Questionnaire Modal -->
            
        {% endif %}
        
        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js'
        ]|theme }}"></script>
        
        {% if user.user_agreement == null %}
            <script>
                $(document).ready(function(){
                    $(window).load(function(){
                        $('#userAgreement').modal({
                        	show:true,
                        	backdrop:'static',
                        	keyboard:false
                        });
                        $("#acceptAgreement").click(function(){
					        $("#userAgreement").modal('hide');
					        $("#questionnaire").modal({
					        	show: true,
					        	backdrop:'static',
					        	keyboard:false
					        });
				    	});
					    $("#submitQuestionnaire").click(function(){
					        $("#questionnaire").modal('hide');
					    })
                    });
                    var mapOptions = {
					    zoom: 8,
					    center: new google.maps.LatLng(-34.397, 150.644),
					    mapTypeId: google.maps.MapTypeId.ROADMAP
					  }
  					var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                });
            </script>
        {% endif %}

        {% framework extras %}
        {% scripts %}

    </body>
</html>