<div id="<?= $this->getId('popup') ?>" class="recordfinder-popup">
    <?= Form::open() ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= e(trans($title)) ?></h4>
        </div>
        <!-- Create new item button -->
            <div class="form-group" data-field-name="<?= $this->fieldName; ?>" style="padding-left:20px;">
                <div data-request-data="_relation_field: '<?= $this->fieldName; ?>'">
                    <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="nojavascript...;" class="btn btn-primary oc-icon-plus" style="right:20px; top:11px;">New <?= $title ?>
                    </a>
                </div>
            </div>
        <!-- /Create new item button -->
        <div class="recordfinder-list list-flush" data-request-data="recordfinder_flag: 1">
            <?= $searchWidget->render() ?>
            <?= $listWidget->render() ?>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('backend::lang.recordfinder.cancel')) ?>
            </button>
        </div>
    <?= Form::close() ?>
</div>

<script>
    setTimeout(
        function(){ $('#<?= $this->getId('popup') ?> input.form-control:first').focus() },
        310
    )
</script>
