==
<div class="container">
    <!--Section: Users home page-->
    <section class="pt-5 mt-5 pb-3">

        {% partial 'jobs/toolbar' %}
        
        <div class="row pt-4">

            {% if user.groups.first.name == 'Users' %}
                {% partial 'jobs/deck' %}
            {% else %}
                {% partial 'employers/cards' %}
            {% endif %}

        </div>

        <section class="section pt-4">

            <!-- Grid row -->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8 col-md-12 mb-3 pb-lg-2">
                    
                    <!-- Featured article -->
                    <div class="user-feature zoom z-depth-1">

                        <img src="https://mdbootstrap.com/img/Photos/Others/product2.jpg" class="img-fluid" alt="sample image">
                        <div class="mask rgba-white-light">
                            <div class="dark-grey-text d-flex align-items-center pt-3 pl-4">
                                <div>
                                	{% if user.groups.first.name == 'Users' %}
				                        {% set featuredPost = featuredUserBlogPost.post %}
                                        <h2 class="h2-responsive card-title font-weight-bold pt-2"><strong>{{featuredPost.title}}</strong></h2>
	                                    <p class="d-none d-md-block">{{ str_limit(featuredPost.content|raw, '160', '...') }}</p>
	                                    <a href="{{ 'jobs/post'| page({slug:featuredPost.slug}) }}" class="btn unique-color btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light">Read more</a>
				                    {% else %}
										{% set posts = featuredEmployerNews.posts %}
										
										<div class="post-list">
										    {% for post in posts %}
												<h2 class="h2-responsive card-title font-weight-bold pt-2"><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
										        {% if post.introductory %}
										        <div class="introduction">{{ str_limit(post.introductory|raw, '160', '...') }}</div>
										        {% elseif post.content %}
										        <div class="content">{{ str_limit(post.content|raw, '160', '...') }}</div>
										        {% endif %}
									    </div>
										    {% else %}
										    <span class="post-nodata">{{ noPostsMessage }}</span>
										    {% endfor %}
										
										{{ posts.render|raw }}
				                    {% endif %}
								</div>
                            </div>
                        </div>

                    </div>
                    <!-- /Featured article -->
                    <hr />

                    {% if user.groups.first.name == 'Users' %}
                        {% set defaultPosts = userAnnouncements.posts %}
                        {% for post in defaultPosts %}
	                    <div class="row pt-5">
	                        <!--Second column-->
	                        <div class="col-md-12 mb-r">
	                            <!--Excerpt-->
	                            <h4><a href="{{ post.url }}"></a>{{ post.title }}</a></h4>
	                            <p>{{ post.summary|raw }}</p>
	                            <a href="{{post.url}}" class="btn unique-color waves-effect waves-light">Read more</a>
	                        </div>
	                        <!--/Second column-->
	                    </div>
	                    {% else %}
	                        <li class="no-data">{{ noPostsMessage }}</li>
	                    {% endfor %}
                    {% else %}
                    	<h3 class="h3-responsive"><i class="fa fa-newspaper-o"></i> Employer News</h3>
						{% set posts = employerNews.posts %}
					    {% for post in posts %}
						    <div class="row">
						    	<div class="col-md-12 mb-r">
						        {% if post.image %}<div class="post-image"><h4><a href="/{{ postPage }}/{{ post.slug }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a></h4></div>{% endif %}
						
						        <h2 class="post-title"><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
						        <p>Posted on{{ post.published_at|date('M d, Y') }}</p>
						        {% if post.introductory %}
						        <p>{{ str_limit(post.introductory|raw, '160', '...') }}</p>
						        {% elseif post.content %}
						        <p>{{ str_limit(post.content|raw, '160', '...') }}</p>
						        {% endif %}
						        <a href="/{{ postPage }}/{{ post.slug }}" class="btn unique-color waves-effect waves-light">Read more</a>
						        </div>
						    </div>
					    {% else %}
						    <span class="post-nodata">{{ noPostsMessage }}</span>
					    {% endfor %}
						{{ posts.render|raw }}
                    {% endif %}
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!-- Section: Quicklinks -->
                    <section class="quicklinks">

                        {% if user.groups.first.name == 'Users' %}
                            {% partial 'users/quicklinks' %}
                        {% else %}
                            {% partial 'employers/quicklinks' %}
                        {% endif %}

                    </section>
                    <!-- /Section: Quicklinks -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
    
    </section>
    <!--/Section-->
</div>