==
<div class="container">
	{% if user.groups.first.name != 'Users' %}
		{% partial 'employers/cards' %}
	{% endif %}
    <!--Section: Users home page-->
    <section class="pt-5 mt-5 pb-3">

            <!-- Main row -->
            <div class="row">

                <!-- Left column-->
                <div class="col-lg-8 col-md-12 mb-3 pb-lg-2">
					<h1 class="h1-responsive"><i class="fa fa-bullhorn"></i> Featured Posts</h1>
					<hr />
                    <!-- Featured article -->
                    <div class="user-feature zoom z-depth-1">

                        <img src="https://mdbootstrap.com/img/Photos/Others/product2.jpg" class="img-fluid" alt="sample image">
                        <div class="mask rgba-white-light">
                            <div class="dark-grey-text px-5 py-4">

								{% if user.groups.first.name == 'Users' %}
									{% partial 'users/featuredPosts' %}
								{% else %}
									{% set posts = featuredEmployerNews.posts %}
									{% for post in posts %}
										<h2 class="h2-responsive card-title font-weight-bold pt-2"><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
										<div>
											{% if post.introductory %}
												{{ str_limit(post.introductory|raw, '160', '...') }}
											{% elseif post.content %}
												{{ str_limit(post.content|raw, '160', '...') }}
											{% endif %}
										</div>
										<a href=href="/{{ postPage }}/{{ post.slug }}" class="btn unique-color btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light">Read more</a>
									{% else %}
										<span class="post-nodata">
											{{ noPostsMessage }}</span>
									{% endfor %}
								{% endif %}

                            </div>
                        </div>

                    </div>
					<!-- /Featured article -->
					
                    
					<!-- Blog posts -->
					{% if user.groups.first.name == 'Users' %}
						<h1 class="h1-responsive pt-sm-5"><i class="fa fa-newspaper-o"></i> News & Announcements</h1>
						<hr />
                        {% set defaultPosts = userAnnouncements.posts %}
                        {% for post in defaultPosts %}
	                    <div class="row">
	                        <!--Second column-->
	                        <div class="col-md-12 mb-r">
	                            <!--Excerpt-->
	                            <h4><a href="{{ post.url }}"></a>{{ post.title }}</a></h4>
	                            <p>{{ post.summary|raw }}</p>
	                            <a href="{{post.url}}" class="btn unique-color waves-effect waves-light">Read more</a>
	                        </div>
	                        <!--/Second column-->
						</div>
						<hr />
	                    {% else %}
	                        <li class="no-data">{{ noPostsMessage }}</li>
	                    {% endfor %}
                    {% else %}
                    	<h3 class="h3-responsive pt-4"><i class="fa fa-copy"></i> Employer News</h3>
						{% set posts = employerNews.posts %}
					    {% for post in posts %}
						    <div class="row pt-4">
						    	<div class="col-md-12 mb-r">
									{% if post.image %}
										<img src="{{ post.image|media }}" alt="{{ post.title }}" class="img-responsive"></a>
									{% endif %}
									<h2 class="h2-responsive"><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
									<p>Posted on{{ post.published_at|date('M d, Y') }}</p>
									<div>
										{% if post.introductory %}
											{{ str_limit(post.introductory|raw, '160', '...') }}
										{% elseif post.content %}
											{{ str_limit(post.content|raw, '160', '...') }}
										{% endif %}
									</div>
									<a href="/{{ postPage }}/{{ post.slug }}" class="btn unique-color waves-effect waves-light">Read more</a>
						        </div>
						    </div>
					    {% else %}
						    <span class="post-nodata">{{ noPostsMessage }}</span>
						{% endfor %}
						<div class="row pt-3 justify-content-center">
							<a href="{{'employers/news'|page}}" alt="Employer News">More news <i class="fa fa-arrow-right"></i></a>
						</div>
					{% endif %}
					<!-- /Blog posts -->
                </div>
                <!-- /Left column-->

                <!-- Right column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!-- Section: Quicklinks -->
                    <section class="quicklinks">

						{% if user.groups.first.name == 'Users' %}
							<h1 class="h1-responsive"> Quicklinks</h1>
							<hr />
                            {% partial 'users/quicklinks' %}
						{% else %}
							{% if not subscriber or subscriber.status != 1 %}
								<h3 class="h3-responsive"><i class="fa fa-newspaper-o"></i> Newsletter</h3>
								{% component 'newsSubscribe' %}
							{% endif %}
							<h3 class="h3-responsive pt-2"><i class="fa fa-link"></i> Employer Quicklinks</h3>
							{% partial 'employers/quicklinks' %}
                        {% endif %}

                    </section>
                    <!-- /Section: Quicklinks -->

                </div>
                <!-- /Right column-->

            </div>
            <!-- /Main row-->
    
    </section>
    <!--/Section-->
</div>