{% set featuredPosts = FeaturedUserPosts.posts %}
<!--Carousel Wrapper-->
<div id="featured-posts-carousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        
        {% for featuredPost in featuredPosts %}
        <!--First slide-->
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <h2 class="h2-responsive card-title font-weight-bold pt-2"><strong>{{featuredPost.title}}</strong></h2>
            <p class="d-none d-md-block">{{ str_limit(featuredPost.content|raw|striptags, '240', '...') }}</p>
            <a href="{{ 'jobs/post'| page({slug:featuredPost.slug}) }}" class="btn unique-color btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light">Read more</a>
        </div>
        <!--/First slide-->
        {% endfor %}
    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
