<!--Footer Links-->
<div class="container gray mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

        <!--First column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Wichita Work Release</strong>
            </h6>
            <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Wichita Work Release Facility is a minimum custody State work release facility, Kansas Department of Corrections facility which manages convicted felons who have been screened for participation in a community based, residential work release program.</p>
            <p>All of our Participants are considered incarcerated under extended limits of custody.</p>
            <a href="{{'about'|page}}" class="btn unique-color btn-md waves-effect waves-light">Read more
                <i class="fa fa-clone ml-1"></i>
            </a>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Quicklinks</strong>
            </h6>
            <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="{{'jobs/jobs'|page}}" class="dark-grey-text">View Jobs</a>
            </p>
            <p>
                <a href="{{'jobs/temp'|app}}" class="dark-grey-text">Temp Services</a>
            </p>
            <p>
                <a href="{{'jobs/walk'|page}}" class="dark-grey-text">Walkroute</a>
            </p>
            <h6 class="text-uppercase font-weight-bold mt-4">
                    <strong>Profile</strong>
                </h6>
                <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-user mr-3"></i> View profile</p>
                <p>
                    <i class="fa fa-sign-out mr-3"></i> <a href="mailto:corey.brock@ks.gov" class="dark-grey-text" >Logout</a></p>
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Elsewhere</strong>
            </h6>
            <hr class="blue-grey accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a href="http://www.indeed.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank" >Indeed</a></p>
            <p><a href="http://www.careerbuilder.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank">CareerBuilder</a></p>
            <p><a href="http://www.snagajob.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank">Snag a job</a></p>
            <p><a href="http://www.ziprecruiter.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank">Ziprecruiter</p>
            <p><a href="http://wichita.craigslist.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank"></p>
            <p><a href="http://www.kansasworks.com" class="dark-grey-text" rel="noopener noreferrer" target="_blank">Kansaswork</p>
            <p><a href="http://www.workforce-ks.com" class="dark-grey-text" target="_blank"></p>
            <p><a href="https://www.agc.org/" class="dark-grey-text" rel="noopener noreferrer" target="_blank">Associated General Contractor</p>
        </div>
        <!--/.Third column-->

    </div>
</div>
<!--/.Footer Links-->