{% set randomPosts = randomPosts.posts %}
<div class="card-deck">
{% for post in randomPosts %}

    <div class="card alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <a href="{{ post.url }}"
                  role="button"
                  {% if user.groups.first.name == 'Users' %}
                   data-request="onViewJob"
                   data-request-data="job_id: {{post.id}}"{%endif%}
                   class="alert-link">{{ post.title }}</a>
        <p class="small">
                {% if post.excerpt %} 
                    {{ str_limit(post.excerpt|raw, '140', '...') }}
                {% else %} 
                    {{ str_limit(html_strip(post.content|raw), '140', '...') }} 
                {% endif %}
        </p>
    </div>

{% else %}
    <p>There are no posts to display.</p>
{% endfor %}
</div>