{% set posts = blogPosts.posts %}

{% set categories = posts.categories %}

{% for post in posts %}
<!-- Post card -->
<div class="mb-5 px-3 py-3 z-depth-1">
    <h2 class="card-title font-weight-bold pt-2 ">
        <strong>
            <a href="{{post.url}}">{{ post.title }}</a>
        </strong>

        <span class="h5 float-md-right">
            {% if not post.isTrackerFavorited() %}
                <a data-request="onFavoriteJob" data-request-data="job_id: {{post.id}}" data-request-redirect="{{this.page.name|page}}" class="grey-text favorite"><i class="fa fa-star-o"></i> Favorite</a>
            {% else %}
                <a data-request="onToggleFavorite" data-request-data="job_id: {{post.id}}" data-request-redirect="{{this.page.name|page}}"><i class="fa fa-star orange-text"></i> Favorite</a>
            {% endif %}
        </span>
    </h2>
    
    <h4 class="h4-responsive">{{post.company}}</h4>
    <p class="small">Posted on
        <i class="icon icon-clock-o"></i> {{ post.published_at|date('M d, Y') }} by
        <i class="fa fa-user fa-small"></i>

        {% if post.author.company_name %} {{ post.author.company_name }} {% elseif post.author.name %} {{ post.author.name }} {{
        post.author.surname }} {% else %} {{ post.user.first_name }} {{ post.user.last_name }} {%endif%}
    </p>
    <p class="small">Categories: {% for category in post.categories %}
        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %} {% endfor %}
    </p>
    
    <p class="lead">{% if post.excerpt %} {{ str_limit(post.excerpt|raw, '240', '...') }} {% else %} {{ str_limit(html_strip(post.content|raw),
        '240', '...') }} {% endif %}</p>
    {% if user.id is divisible by(2) %}
        <a href="{{post.url}}" class="btn unique-color btn-sm">Read more</a>
    {% endif %}

</div>
{% endfor %}
<!-- /Post card -->

<!--Pagination-->
{% if posts.lastPage > 1 %}
<div class="row justify-content-center">
        <nav aria-label="pagination example">
            <ul class="pagination pagination-lg pg-blue">
                {% if posts.currentPage > 1 %}
                <!--Arrow left-->
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %} 
                {% if posts.lastPage > posts.currentPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
</div>
{% endif %}
<!--/Pagination-->