{% set categories = blogCategories.categories %}
{% set currentCategorySlug = blogCategories.currentCategorySlug %}

{% for category in categories|slice(0,6) %}
<ul class="list-group z-depth-1 mb-3">
    {% set postCount = category.post_count %}
    <li class="list-group-item d-flex justify-content-between blue-grey lighten-4">
        <a href="{{ category.url }}" class="h5 dark-grey-text">{{ category.name }}</a>
        <span class="flex-right"><i class="fa fa-angle-double-right dark-grey-text" aria-hidden="true"></i></span>
    </li>
    {% if category.children %}
            
        {% partial __SELF__ ~ "::mdb_items"
            categories=category.children
            currentCategorySlug=currentCategorySlug
        %}

    {% endif %}
</ul>
{% endfor %}

