title = "Employer Incentive Programs"
url = "/employers/incentives"
layout = "default"
is_hidden = 0
==
<div class="carousel" style="background-image: url('{{'assets/images/incentives_header.jpg'|theme}}');">
    <div class="mask flex-center rgba-blue-grey-light">
    </div>
    <!-- Mask & flexbox options -->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    </div>
    <!-- /Mask & flexbox options -->
</div>

<div class="container free-bird mb-4">
       
    <div class="row">
        <div class="col-10 col-sm-10 mx-auto white z-depth-1 pt-4 pl-3">
            <h6 class="h6-responsive"><a href="{{'default'|page}}" alt="Transition Center">Transition Center</a> > <a href="{{'default'|page}}" alt="Employers">Employers</a> > <a href="{{'incentives/default'|page}}" alt="Incentive Programs">Incentive Programs</a></h6>
            <h3 class="h3-responsive">{{this.page.title}}</h3>
            <p>As an employer you are eligible for a number of incentive programs for working with a former felon. Your business may qualify for tax credits, our clients are fully bondable at no cost to you, and there are new grants to help pay for on-the-job training. Additionally, many of our clients are WorkREADY! Certified, meaning they come ready with the knowledge, skills, and abilities needed to fulfil your candidacy requirements.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-10 mx-auto pt-4 pl-3">
            <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                <!--Grid row-->
                <div class="row">
        
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
        
                    <img src="{{'assets/images/wotc_media.jpg'|theme}}" class="img-fluid z-depth-1-half" alt="WOTC">
        
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
        
                        <!-- Main heading -->
                        <h3 class="h3 mb-3">Work Opportunity Tax Credit</h3>
                        <p>The Work Opportunity Tax Credit (WOTC)
                                provides tax relief to employers who hire
                                full-time, part-time or temporary employees
                                from specifically targeted groups that have
                                employment barriers.</p>
                        <p>Read details below to learn more about WOTC.</p>
                        <!-- Main heading -->
            
                        <hr>

                        <ul>
                            <li><strong>WOTC reduces an employer’s cost</strong> of doing business, requires little paperwork, and applying for WOTC is simple.</li>
                            <li>WOTC can <strong>reduce an employer’s federal income tax liability</strong> by as much as $9,600 per employee hired.</li>
                            <li><strong>There is no limit</strong> on the number of individuals an employer can hire to qualify to claim the tax credit.</li>
                            <li>
                                Certain <strong>tax-exempt organizations can take advantage of WOTC</strong> by hiring eligible veterans and receiving a credit against the employer's share of Social Security taxes.
                            </li>
                        </ul>
            
                        <!-- CTA -->
                        <a href="mailto:corey.brock@ks.gov" class="btn unique-color btn-md waves-effect waves-light">Request  info
                            <i class="fa fa-paper-plane ml-1"></i>
                        </a>
                        {% if user %}
                        <a href="{{'incentives/wotc'|page}}" class="btn unique-color btn-md waves-effect waves-light">Read more
                            <i class="fa fa-clone ml-1"></i>
                        </a>
                        {% endif %}
                    </div>
                    <!--Grid column-->
        
                </div>
                <!--Grid row-->
        
            </section>

            <hr class="my-4" />

            <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Main heading -->
                        <h3 class="h3 mb-3">Federal Bonding Program</h3>
                        <p>The Federal Bonding Program (FBP) provides important support for justice-involved individuals and other challenged job seekers, helping them secure employment and stay employed. Learn about this and other strategies which help protect your assets and improve employment outcomes.</p>
                        <p>Read details below to learn more about FBP.</p>
                        <!-- Main heading -->
            
                        <hr>
            
                        <p>
                            Are you in the process of growing your business and looking for employees who are dedicated, committed, and enthusiastic? How do bonded employees – at no cost to you – sound? Through your state and local workforce system, you can gain access to individuals who are ready and eager to go to work, and through the Federal Bonding Program – an initiative that provides $5000 worth of fidelity bond coverage for the first six months of employment for a select group of employees – you can meet your hiring requirements and protect your assets. Here’s how it works.
                        </p>
                        <p>

                        </p>
            
                        <!-- CTA -->
                        <a href="mailto:corey.brock@ks.gov" class="btn unique-color btn-md waves-effect waves-light">Request your bond
                            <i class="fa fa-paper-plane ml-1"></i>
                        </a>
                        {% if user %}
                        <a href="{{'incentives/bonding'|page}}" class="btn unique-color btn-md waves-effect waves-light">Read more
                            <i class="fa fa-clone ml-1"></i>
                        </a>
                        {% endif %}
        
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
        
                        <img src="{{'assets/images/fbp_media.jpg'|theme}}" class="img-fluid z-depth-1-half" alt="">
        
                    </div>
                    <!--Grid column-->
        
                </div>
                <!--Grid row-->
        
            </section>

            <hr class="my-4" />

            <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
        
                        <img src="{{'assets/images/wif_media.jpg'|theme}}" class="img-fluid z-depth-1-half" alt="WIF Program">
        
                    </div>
                    <!--Grid column-->                    

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Main heading -->
                        <h3 class="h3 mb-3">Workforce Innovation Fund</h3>
                        <p>The Workforce Innovation Fund (WIF) in an on-the-job training program that provides reimbursement to employers who train new hires.</p>
                        <p>
                            Eligible job seekers will have a team to support their career goals. The support is specific to the jobseeker's needs and goals but is an added benefit to ensure success on the job.
                        </p>
                        <p>Read details below to learn more about FBP.</p>
                        <!-- /Main heading -->
            
                        <hr />

                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fa fa-dollar fa-2x light-blue-text"></i>
                            </div>
                            <div class="col-10">
                                <p class="grey-text">Up to $7,200 in training funds reimbursed to employers for each eligible new hire</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fa fa-refresh fa-2x cyan-text"></i>
                            </div>
                            <div class="col-10">
                                <p class="grey-text">Employers will be reimbursed 50% on new hires wages during training</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fa fa-calendar fa-2x teal-text"></i>
                            </div>
                            <div class="col-10">
                                <p class="grey-text">OJT Participants receive training for up to 24 weeks</p>
                            </div>
                        </div>
            
                        <!-- CTA -->
                        <a href="mailto:corey.brock@ks.gov" class="btn unique-color btn-md waves-effect waves-light">Questions
                            <i class="fa fa-question ml-1"></i>
                        </a>
                        {% if user %}
                        <a href="{{'incentives/wif'|page}}" class="btn unique-color btn-md waves-effect waves-light">Read more
                            <i class="fa fa-clone ml-1"></i>
                        </a>
                        {% endif %}
                    </div>
                    <!--Grid column-->
        
                </div>
                <!--Grid row-->
        
            </section>

            <hr class="my-4" />
        </div>
    </div>

    

</div>
